<div class="gallery_banner">
    <h2 class="naslov">BLOG POST</h2>
</div>
<div class="row col-sm-12 bpost">
    <div class="col-sm-9"></div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/chef3.jpg" class="card-img-top thumbnail" alt="chef">
            <div class="card-body">
              <h5 class="card-title">Marija Nikolova</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="bpost">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="bpost"><h5>CATEGORIES</h5></div> 
        <div class="bpost">
            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Cakes</a></li>
                <li><a href="#">Baking</a></li>
                <li><a href="#">Recepi</a></li>
            </ul>
        </div>
        <div class="bpost"><h5>LATEST POSTS</h5></div> 
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/img/macaroons.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>
        <div class="bpost"><h5>POPULAR TAGS</h5></div> 
        <div class="bpost">
            <ul>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">BAKING</a></li>
                <li><a href="#">RECEPI</a></li>
                <li><a href="#">TIP</a></li>
                <li><a href="#">CAKES</a></li>
            </ul>
        </div>
        <div class="bpost"><h5>ARCHIVE</h5></div> 
        <div class="bpost">
            <ul>
                <li><a href="#">MARCH 2020</a></li>
                <li><a href="#">APRIL 2020</a></li>
                <li><a href="#">MAY 2020</a></li>
                <li><a href="#">JUNE 2020</a></li>
            </ul>
        </div>
    </div>

    
</div>