<div class="gallery_banner">
    <h2 class="naslov">B L O G</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 blogg">
    <div class="col mb-4">
      <div class="card h-100">
        <img  src="./assets/img/cake.jpg"  class="card-img-top" alt="cake">
        <div class="card-body">
          <h5 class="card-title">How to Pipe a Fluffy Frosting Border on a Cake</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#!blog/{{$index}}" >...Read More <!--{{$index}}--></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="./assets/img/macaroons.jpg" class="card-img-top" alt="macaroons">
        <div class="card-body">
          <h5 class="card-title">Recipe of the Day: Pumpkin Spice Latte Cake</h5>
          <p class="card-text">This is a short card.</p>
          <a href="#!blog/{{$index}}" >...Read More <!--{{$index}}--></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="./assets/img/aboutCake.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Baking Your First Cake: What You Need to Know</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#!blog/{{$index}}" >...Read More <!--{{$index}}--></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="./assets/img/bannerwe.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Top 5 Tips for Successful Cake Baking</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#!blog/{{$index}}" >...Read More <!--{{$index}}--></a>
        </div>
      </div>
    </div>
  </div>