<div class="gallery_banner">
    <h2 class="naslov">WHAT WE OFFER</h2>
</div>
<div class="row col-sm-12 about_we">
    <div class="col-sm-3">
        <h5>QUALITY PRODUCTS</h5>
        <i class="fas fa-birthday-cake fa-2x"></i>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Consequatur enim dignissimos, autem corporis recusandae 
           libero quibusdam asperiores, hic necessitatibus amet provident 
           iure porro deserunt beatae quam atque maxime eveniet tenetur?</p>
    </div>
    <div class="col-sm-3">
        <h5>CATERING SERVICE</h5>
        <i class="fas fa-concierge-bell fa-2x"></i>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur enim dignissimos, autem corporis recusandae 
            libero quibusdam asperiores, hic necessitatibus amet provident 
            iure porro deserunt beatae quam atque maxime eveniet tenetur?</p>
    </div>
    <div class="col-sm-3">
        <h5>FREE DELIVERY</h5>
        <i class="fas fa-truck fa-2x"></i>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur enim dignissimos, autem corporis recusandae 
            libero quibusdam asperiores, hic necessitatibus amet provident 
            iure porro deserunt beatae quam atque maxime eveniet tenetur?</p>
    </div>
    <div class="col-sm-3">
        <h5>PAYMENT ON DOOR</h5>
        <i class="far fa-credit-card fa-2x"></i>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Consequatur enim dignissimos, autem corporis recusandae 
            libero quibusdam asperiores, hic necessitatibus amet provident 
            iure porro deserunt beatae quam atque maxime eveniet tenetur?</p>
    </div>
</div>

<div class="banner_we">
    <div class="row col-sm-12 ">
        <div class="col-sm-3 row_we">
            <h3><b>STAY</b><br> CONNECTED</h3>
            <p>Subscribe to our newsletter</p>
        </div>
        <div class="col-sm-6 row_we">
            <input type="text" class="form-control contact_form form-we" placeholder="Enter your e-mail address">
        </div>
        <div class="col-sm-3 row_we">
            <button type="submit" class="btn btn-secundary btncolor ">SUBSCRIBE</button>
        </div>
    </div>
</div>